{% extends 'header.html' %}

{% load i18n static %}

{% comment %} {% block extrastyle %}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'website_landing' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %} {% endcomment %}

{% block content %}
   <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                  <img src="{% static 'img/forgotpw_email.avif'%}"width="900" height="800" class="img-fluid" alt="login photo">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                  <h4>{% translate 'Did you forget your password? <br>Enter your email address below, and we’ll email you instructions for setting a new one.' %}
                    <br/> <br/>
                  <div class="form-outline mb-4">
                    <input type="text" id="form1Example13" class="form-control form-control-lg"{{ form.email }}
                    <label class="form-label" for="id_email">Email address</label>
                   
                </div>
                {{ form.email.errors }}
                <div class="d-flex justify-content-around align-items-center mb-4">
                    <form method="post" action = "{% url 'request_reset_pw' %}" >
                        {% csrf_token %}
                        <input type="submit" value = "Reset my password" style = "background-color:#a70000" class="btn btn-primary btn-lg btn-block">
                    </form>
                </div>           
              </div>
            </div>
          </section>
{% endblock %}
