
{% extends './index.html' %}
{% load static %}

{% block content %}
        <div class="container text-center">
            <h6 class="title">{{course.course_title}} - {{course.course_desc}}</h6>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="#">Announcements</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/sit-instructor/instructor/view_students/{{course_batch}}">Students</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Assignments</a>
                    </li>
                </ul>
            </div>

            <!-- Main Content -->
            <br>
            <div class='container-fluid' align="right">
                <!-- Buttons here -->
            </div>
            <br>
            <div class="container-fluid">
                <!-- View Announcements Page -->

                <h6>Course Batch: {{course_batch}} </h6>


                <table border="1">
                    <tr>
                        <th>Announcement</th>
                        <th>Author</th>
                        <th>Date Posted</th>
                        <th>Actions</th>
                    </tr>
                <tr>{% for announcement in announcements %}
                    <td name= 'announcement_text'>{{announcement.announcement_text|linebreaks}}</td>
                    <td name= 'author_id'>{{author}}</td>
                    <td name= 'date_posted'>{{announcement.date_posted}}</td>
                    <td><a href="/sit-instructor/instructor/course/{{ course_batch }}/edit_announcement/{{ announcement.id }}">Edit</a> | <a href="/sit-instructor/instructor/course/{{ course_batch }}/remove_announcement/{{ announcement.id }}">Remove</a></td>
                </tr>
                    {% endfor %}
                </table>

                <br><br>
                <button><a href="/sit-instructor/instructor/course/{{course_batch}}/create_announcement">Create Announcement</a></button>
                <button><a href="/sit-instructor/instructor/view_students/{{course_batch}}">View Students</a></button>
                <button><a href="{% url 'view_assignments' course_batch %}">Assignments</a></button>
                {% if user.is_authenticated %}
                <br><br>
                <button><a href="{% url 'view_courses' %}">Back to View Courses</a></button>
                <br>
                <br>
                {% endif %}
        </div>
{% endblock %}

