{% extends './index.html' %}
{% load static %}

{% block content %}
<!-- Table list -->
{% comment %} <div class="container-fluid">
    <br>
    <div class="card-header py-3">
        Courses Details
    </div>
    <br>
    <div align="right"> <!-- buttons here-->
        <!-- View Pending Requests  Button -->
        <a href="/sit-instructor/instructor/view_courses/view_pending_requests/" class="btn btn-primary ml-2" data-toggle="tooltip" title="View pending requests">
             <span>
                <i class="ti-folder"></i>
            </span>
        </a>
    </div>
    <br>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-sm" width="100%" cellspacing="0">
                    <thead class="table-dark" align="center">
                        <tr>
                            <th>Course Batch</th>
                            <th>Course Title</th>
                            <th>Course Mode</th>
                            <th>Session Details</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Frequency</th>
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                
                <tr>{% for course in course_enrolled_list%}
                
                    <td name= 'course_batch'><a href="/sit-instructor/instructor/course/{{course.course_batch}}">{{course.course_batch}}</a></td>
                    <td name= 'course_id'>{{course.course_id_id}}</td>
                    <td name= 'course_mode'>
                        {% if course.course_mode == 0%} Webinar
                        {% elif course.course_mode == 1%} Onsite
                        {% else %} Self-Paced
                        {% endif %}
                    </td>
                    <td name= 'session_details'>{{course.session_details | urlize | safe}}</td>
                    
                    
                    <td name= 'start_date'>{{course.start_date}}</td>
                    <td name= 'end_date'>{{course.end_date}}</td>
                    <td name= 'start_time'>{{course.start_time}}</td>
                    <td name= 'end_time'>{{course.end_time}}</td>
                    <td name= 'frequency'>
                        {% if course.frequency == 0%} Once
                        {% elif course.frequency == 1%} Daily
                        {% else %} Weekly
                        {% endif %}
                    </td>
                    <td> <a href="/sit-instructor/instructor/view_students/{{course.course_batch}}"> View Students</a>
                        <a href="/sit-instructor/instructor/view_courses/request_for_change_schedule/{{course.course_batch}}">Request for Change Schedule</a> 
                    </td>
                    
                </tr>
                    {% endfor %}
                </table>
                <br>
                <br>

            </div>
</div> {% endcomment %}



<!-- Courses section -->
<div class="container text-center">
    <h6 class="title">Enrolled Courses</h6>
</div>
<div class="container">
    <h3 class="subtitle">Buttons and filter</h3>
</div>
<br>
<br>

    <div class="container">
        <div class="row">
            {% for course in course_enrolled_list%}
                <div class="col-sm-4">
                    <br>
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top" src="{% static 'assets/course.png'%}" alt=""> 
                        <div class="card-body">
                            <h5 class="card-title"><a href="/sit-instructor/instructor/course/{{course.course_batch}}" data-toggle="tooltip" title="Go to Announcements">{{course.course_id_id}}</h5></a>
                            <h1 class="card-text" style="font-size: 15px"></h1> {{course.start_date}} - {{course.end_date}} 
                            <h1 class="card-text" style="font-size: 15px"></h1> {{course.start_time}} - {{course.end_time}} [
                            {% if course.frequency == 0 %} Once
                            {% elif course.frequency == 1 %} Daily
                            {% else %} Weekly
                            {% endif %} ]
                            
                            <br>
                            <br>
                            <a href="/sit-instructor/instructor/view_students/{{course.course_batch}}" class="btn btn-primary btn-sm">View Students</a>
                            <a href="/sit-instructor/instructor/view_courses/request_for_change_schedule/{{course.course_batch}}" class="btn btn-primary btn-sm">Change Schedule</a>
                            <a href="#{{course.course_id_id}}" class="btn btn-dark btn-sm" data-toggle="collapse" role="button" aria-expanded="false"><i class="ti-info-alt"></i></a>
                        </div>
                    </div>
                    <div class="collapse" id="{{course.course_id_id}}" style="width: 22rem;">
                        <div class="card card-body">
                            <h1 style="font-size: 15px">Course Batch: {{course.course_batch}}</h1>
                            <h1 style="font-size: 15px">Course Mode: 
                                {% if course.course_mode == 0 %} Webinar
                                {% elif course.course_mode == 1 %} Onsite
                                {% else %} Self-Paced
                                {% endif %}
                            </h1>
                            <h1 style="font-size: 15px">Session Details: {{course.session_details | urlize | safe}}</h1>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}     
        </div>
    </div>


<!-- End of courses section -->


{% endblock content %}