{% extends './index.html' %}
{% load static %}

<!-- Home Page -->

{% block header %}
    <!-- Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Hello,</h6>
                <h6 class="title">{{ user.first_name }} {{ user.last_name }}</h6>
                <p>Instructor</p>

                <div class="buttons pt-3">
                    <button class="btn btn-primary rounded">View Calendar</button>
                </div>      
            </div>   

            <div class="img-holder">
                <img class="profile-img" src="{% static 'assets/mcdo.png' %}" alt="..."  />
            </div>  
        </div>
    </header>
    <!-- End of Header -->
{% endblock header %}