{% extends './index.html' %}
{% load static %}



{% block cover %}
    <img class="card-img-top" style="height: 15rem" src="{% static 'assets/coverphoto.png' %}">
{% endblock %}


{% block course_header %}
    <h6 class="title">[{{course.course_title}}] - {{course.course_desc}}</h6>
    <h6 class="subtitle">{{id}}</h6>
{% endblock %}


{% block content %}

        <div class="container-fluid" style="margin-top: 2rem">
            <div class="row">
                <div  align="left">
                    <!-- shortcuts -->
                </div>
                <div class="container">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page" href="{% url 'view_instructor_course' id %}">Announcements</a>
                                </li>
                        
                                <li class="nav-item active">
                                    <a class="nav-link text-primary active" aria-current="page" href="#">Students</a>
                                </li>
                        
                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page" href="{% url 'view_assignments' id %}">Assignments</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page" href="{% url 'change_schedule' id %}">Schedule</a>
                                </li>
                            </ul>
                        </div>
                    
                        <!-- Main Content -->
                        <br>
                        <br>
                        <div class="container-fluid">
                            <div class ="container">
                                <div class="row ">
                                    <div class="col-8 align-items-bottom">
                                        <h4 style="margin-left: 38px">List of Students &#9;</h4>
                                        {% if count_acts == 1 %}
                                        <span class="subtitle text-primary" style="margin-left: 38px">{{count}} Student</span>
                                        {% else %}
                                        <span class="subtitle text-primary" style="margin-left: 38px">{{count}} Students</span>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="col-4" align="right">
                                        <!-- Download Button-->
                                        <a class="btn btn-primary btn-icon-split btn-sm" href="/sit-instructor/instructor/view_courses/{{id}}/">
                                            <span>
                                                <i class="ti-download align-bottom"></i>
                                            </span>
                                            <span class="text"> 
                                                Download List
                                            </span>
                                        </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
            
                                <div class="row">
                                    <div class="container">
                                        {% if not student_list %}
                                        <!-- Show if database is empty-->
                                        <div class="container text-center">
                                            <br>
                                            <h5 style="color: gray">No Enrolled Students</h5>
                                        </div>
            
                                        {% else %}
                                        <!-- Show if database is NOT empty-->
                                        <br>
                                        <div class="container center">
                                            <div class="col-8">
                                                {% for detail in student_list %}
                                                    <table id="Main table">
                                                        <tr>
                                                            <td style="width: 1.8rem;"></td>
                                                            <td name="profile_pic" style="width: 3rem; height: 3rem">
                                                            {% if detail.profile_pic %}
                                                                <img class="img-profile rounded-circle" src="{{ detail.profile_pic }}" alt="Profile Picture" style="width: 2rem; height: 2rem; border-radius: 50%;">
                                                            {% else %}
                                                                <img class="img-profile rounded-circle" style="width: 2rem; height: 2rem; border-radius: 50%;" src="{% static '/img/undraw_profile.svg' %}">
                                                            {% endif %}
                                                            </td>
                                                            
                                                            <td class="text-left" name= 'full_name' style="width: 25rem; height: 3rem">{{detail.last_name}}, {{detail.first_name}}</td>
                                                            {% comment %} <td class="text-left" name= 'email' style="width: 25rem;height: 3rem">{{detail.username}}</td> {% endcomment %}
                                                            <td class="text-left" name= 'program_code'style="width: 20rem; height: 3rem" >{{detail.program_title}}</td>
                                                        </tr>
                                                    </table>
                                                    <hr>
                                                {% endfor %}
                                            </div>
                                            <div class="col-8">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <a>Showing {{student_list.start_index}} - {{student_list.end_index}} of {{student_list.paginator.count}} entries</a>
                                                    </div>
                                                    <div class="col">
                                                        <!-- For pagination-->
                                                        {% if student_list.has_other_pages %}
                                                        <ul class="pagination pagination-sm justify-content-end">
                                                            {% if student_list.has_previous %}
                                                                <a class="btn btn-outline-dark btn-sm" href="?page={{ student_list.previous_page_number }}">&laquo;</a> <!-- Prev-->
                                                            {% else %}
                                                                <a class="btn btn-outline-dark btn-sm"disabled><span>&laquo;</span></a></li>
                                                            {% endif %}

                                                            {% for i in student_list.paginator.page_range %}
                                                                {% if student_list.number == i %}
                                                                    <a class="btn btn-outline-dark btn-sm active"><span>{{i}} <span class="sr-only">(current)</span></span></a>
                                                                {% else %}
                                                                    <a href="?page={{ i }}"class="btn btn-outline-dark btn-sm">{{i}}</a>
                                                                {% endif %}
                                                            {% endfor %}
                                                            
                                                            {% if student_list.has_next %}
                                                                <a href="?page={{ student_list.next_page_number }}" class="btn btn-outline-dark btn-sm">&raquo;</a>
                                                            {% else %}
                                                                <a class="btn btn-outline-dark btn-sm" disabled><span>Next</span></a>
                                                            {% endif %}
                                                        </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                            </div>

                                        </div>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
            
{% endblock content %}