<table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Submission</th>
        <th>Date Submittted</th>
        <th>Score</th>
        <th>Mark Student</th>
    </tr>
    {% for submission in list_of_submissions %}
    <tr>
        <td>{{submission.0}}</td>
        <td>{{submission.1}}</td>
        <td><a href="{% url 'instructor_download_activity_submission' batch.course_batch act.id submission.4 %}" download>{{submission.2}}</a></td>
        <td>{{submission.3}} {% if submission.3 <= act.deadline %}On time{% else %}Late{% endif %} </td>   
        <form action="{% url 'save_activity_grades' batch.course_batch act.id submission.5 %}" method="POST">
            {%csrf_token%}
            <td><input name ="score" type="number" style="width: 50px;" min="0" max="{{item_count}}"value="{{submission.6}}"></td>
            <td><button type="submit">Save</button></td>
        </form>
            
            <!-- <td>{{submission.5}}</td> -->
    </tr>
    {% endfor %}
    {% for submission in list_of_students_nonsubmit %}
    <tr>
        <td>{{submission.0}}</td>
        <td>{{submission.1}}</td>
        <td>Not submitted yet</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}
</table>
<br>
<button><a href="{% url 'activity_comments' batch.course_batch act.id %}">Back</a></button>