{% extends './index.html' %}
{% load static %}

{% block content %}
    <!-- Course Header-->
    <br>
    <div class="card text-center">
        <div class="card-header" style="height: 11rem">
            <br>
            <br>
            <h6 class="title">[{{course.course_title}}] - {{course.course_desc}}</h6>
            <h6 class="subtitle">{{id}}</h6>
        </div>
    </div>
    <!-- End of Course Header-->

    <!-- Main Content -->
    <br>
    <div class='container-fluid' align="right">
        <!-- Buttons -->

    </div>

    <br>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url 'view_instructor_course' id %}">Announcements</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'view_students' id %}">Students</a>
                </li>
        
                <li class="nav-item  active">
                    <a class="nav-link active" aria-current="page" href="#">Assignments</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="container-fluid">
            <div class="container" align="right">
                <!-- Create Button-->
                <a class="btn btn-primary btn-icon-split btn-sm" href="{% url 'add_assignment' id %}">
                    <span>
                        <i class="ti-briefcase align-bottom"></i>
                    </span>
                    <span class="text"> 
                            Create Assignment
                    </span>
                </a>
            </div>
            <hr>

            <div>
                {% if not acts %}
                <!-- Show if database is empty-->
                <div class="container-fluid text-center">
                    <br>
                    <h5 style="color: gray">No Assignments Posted</h5>
                </div>

                {% else %}
                <!-- Show if database is NOT empty-->
                <div class="container">
                    <br>
                    <div class="row">
                        {% for activity in acts %}
                        <div class="col-sm-4">
                            <div class="card bg-dark text-white">
                                <div class="card-body">
                                    <h5 class="card-title">{{activity.activity_title}}</h5>
                                    <span class="card-text">Due date:</span>
                                    <br>
                                    <span class="card-text">{{activity.deadline}}</span>
                                    <br>
                                    <br>
                                    <a href="{% url 'activity_comments' id activity.pk %}" class="btn btn-post btn-sm">See comments</a>
                                </div>
                                <div class="card-footer text-white">
                                    2 days ago <!-- Should be day posted-->
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>    
                {% endif %}

                {% comment %} <table>
                    <th>Activity Title</th>
                    <th>Due Date</th>
                    {% for activity in acts %}
                    <tr>    
                        <td><a href="{% url 'activity_comments' id activity.pk %}">{{activity.activity_title}}</a></td>    
                        <td>{{activity.deadline}}</td>
                        <td><a href="/sit-instructor/instructor/view_courses/{{id}}/assignments/edit/{{activity.pk}}">Edit</a></td>
                        <td><a href="/sit-instructor/instructor/view_courses/{{id}}/assignments/delete/{{activity.pk}}">Delete</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </table> {% endcomment %}
            </div>
            <br>
            <br>
        </div>
    </div>

{% endblock %}