<a href="{% url 'add_assignment' id %}">Create Assignment</a><br><br>
<div>
    <table>
        <th>Activity Title</th>
        <th>Description</th>
        <th>Attachment</th>
        <th>Given Date</th>
        <th>Due Date</th>
        <th>Grading</th>
        {% for activity in acts %}
        <tr>    
            <td>{{activity.activity_title}}</td>
            <td>{{activity.activity_desc}}</td>
            <td>{{activity.activity_attachment|urlize|safe}}</td>
            <td>{{activity.start_date}}</td>    
            <td>{{activity.deadline}}</td>
            <td>{{activity.grading_percentage}}</td>
            <td><a href="/sit-instructor/instructor/view_courses/{{id}}/assignments/edit/{{activity.pk}}">Edit</a></td>
            <td><a href="/sit-instructor/instructor/view_courses/{{id}}/assignments/delete/{{activity.pk}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<button><a href="{% url 'view_instructor_course' id %}">Announcements</a></button>
<button><a href="{% url 'view_students' id %}">View Students</a></button>