{% extends './base.html' %}

{% block Topbar %}
            <!-- Topbar -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-6">
                    <h3 class="h3 mb-0 text-gray-800"> ADMINISTRATOR </h3>
                </div>               
            </div>
{% endblock Topbar %}



{% block sidebar %}
            <!-- Sidebar Menu -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
              <a class="nav-link" href="/sit-admin/dashboard/">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>DASHBOARD</span>
              </a>
          </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Library
            </div>

            <!-- Nav Item - Courses Collapse Menu-->
            <li class="nav-item ">
                <a class="nav-link collapsed" href="../sit-admin/course/" data-toggle="collapse" data-target="#collapseCourses"
                aria-expanded="true" aria-controls="collapseCourses">
                    <i class="fa fa-book"></i>
                    <span> COURSES </span>
                </a>
                <!-- Menu -->
                <div id="collapseCourses" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/course/view_course">View Courses</a>
                        <a class="collapse-item" href="/sit-admin/course/add_course">Add Courses</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Instructors Collapse Menu-->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="../sit-admin/instructor/" data-toggle="collapse" data-target="#collapseInst"
                aria-expanded="true" aria-controls="collapseInst">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>INSTRUCTORS</span>
                </a>
                <!-- Menu -->
                <div id="collapseInst" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/instructor/view/">View Instructors</a>
                        <a class="collapse-item" href="/sit-admin/instructor/add/">Add Instructors</a>
                    </div>
                </div>

            </li>

            <!-- Nav Item - Students Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="../sit-admin/student/view/" data-toggle="collapse" data-target="#collapseStudents"
                aria-expanded="true" aria-controls="collapseStudents">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                    <span> TRAINEES </span>
                </a>
                <!-- Menu -->
                <div id="collapseStudents" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/student/view">View Trainees</a>
                        <a class="collapse-item" href="/sit-admin/student/">Add Trainees</a>
                    </div>
                </div>
            </li>
            
            <!-- Nav Item - Admmins Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="../sit-admin/" data-toggle="collapse" data-target="#collapseAdmin"
                aria-expanded="true" aria-controls="collapseAdmin">
                    <i class="fa fa-landmark" aria-hidden="true"></i>
                    <span> ADMINS </span>
                </a>
                <!-- Menu -->
                <div id="collapseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Choose:</h6>
                        <a class="collapse-item" href="/sit-admin/sit-admin/list">View Admins</a>
                        <a class="collapse-item" href="/sit-admin/sit-admin/create">Add Admins</a>
                    </div>
                </div>
            </li>

{% endblock sidebar %}


{% block content %}

                <div class="container-fluid">
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <h6 class="m-1 font-weight-bold text-primary">Instructor Details</h6>
                        </div>
                        <div class="card-body">
                                <form action="add_info/" method="post">
                                    {% csrf_token %}
                                        <div class="container-fluid">
                                            <div class ="row">
                                                <div class = "col-1">
                                                    <label for="username">Email:</label>
                                                </div>

                                                <div class = "col-5">
                                                    <input type="text"  class="form-control" id="username" name="username" required>
                                                    <br><br>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="container-fluid">
                                            <div class ="row">
                                                <div class = "col-1">
                                                    <label for="firstname">Firstname:</label>
                                                </div>

                                                <div class = "col-5">
                                                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class ="row">
                                                <div class = "col-1">
                                                    <label for="middlename">Middlename:</label>
                                                </div>

                                                <div class = "col-5">
                                                    <input type="text" class="form-control" id="middlename" name="middlename" required>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class ="row">
                                                <div class = "col-1">
                                                    <label for="lastname">Lastname</label>
                                                </div>

                                                <div class = "col-5">
                                                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            <div class ="row">
                                                <div class = "col-1">
                                                    <label for="birthdate">Birthdate</label>
                                                </div>

                                                <div class = "col-5">
                                                    <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <!-- Add new -->
                                        <div class="container-fluid">
                                            <a  class="btn btn-dark btn-icon-splitt btn-sm" type="submit" value="Submit">
                                                <span class="icon text-white-50">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                                <span class="text">Submit</span>
                                            </a>
                                        </div>
                                </form>
                                             
                        </div>
                    </div>
                </div>

                    
{% endblock content %}