{% extends './base.html' %}


{% block Topbar %}
            <!-- Topbar -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-6">
                    <h3 class="h3 mb-0 text-gray-800"> ADMINISTRATOR </h3>
                    {% include "admin_module/form_template.html"%}
                </div>               
            </div>
{% endblock Topbar %}

{% block sidebar %}
            <!-- Sidebar Menu -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
              <a class="nav-link" href="/sit-admin/dashboard/">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>DASHBOARD</span>
              </a>
          </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                MODULES
            </div>

            <!-- Nav Item - Courses Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="../sit-admin/course/" data-toggle="collapse" data-target="#collapseCourses"
                aria-expanded="true" aria-controls="collapseCourses">
                    <i class="fa fa-book"></i>
                    <span> COURSES </span>
                </a>
                <!-- Menu -->
                <div id="collapseCourses" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/course/view_course">View Courses</a>
                        <a class="collapse-item" href="/sit-admin/course/add_course">Add Courses</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Enrollment Collapse Menu-->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="../sit-admin/course_enrollment/" data-toggle="collapse" data-target="#collapseEnroll"
                aria-expanded="true" aria-controls="collapseEnroll">
                    <i class="fas fa-id-card-alt" aria-hidden="true"></i>
                    <span> ENROLLMENT </span>
                </a>
                <!-- Menu -->
                <div id="collapseEnroll" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/course_enrollment">Course Enrollment</a>
                        <a class="collapse-item" href="/sit-admin/course_enrollment/view_enrolled_course/">Student Enrollment</a>
                        <a class="collapse-item" href="/sit-admin/course_enrollment/change_schedule/">Change Schedule Approval</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Instructors Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="../sit-admin/instructor/" data-toggle="collapse" data-target="#collapseInst"
                aria-expanded="true" aria-controls="collapseInst">
                    <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
                    <span>INSTRUCTORS</span>
                </a>
                <!-- Menu -->
                <div id="collapseInst" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/instructor/view/">View Instructors</a>
                        <a class="collapse-item" href="/sit-admin/instructor/add/">Add Instructors</a>
                    </div>
                </div>

            </li>

            <!-- Nav Item - Students Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="../sit-admin/student/view/" data-toggle="collapse" data-target="#collapseStudents"
                aria-expanded="true" aria-controls="collapseStudents">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                    <span> TRAINEES </span>
                </a>
                <!-- Menu -->
                <div id="collapseStudents" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Options:</h6>
                        <a class="collapse-item" href="/sit-admin/student/view">View Trainees</a>
                        <a class="collapse-item" href="/sit-admin/student/">Add Trainees</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Program Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProgram"
                aria-expanded="true" aria-controls="collapseAdmin">
                <i class="fa fa-users"></i>
                    <span> CDP PROGRAM </span>
                </a>
                <!-- Menu -->
                <div id="collapseProgram" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Choose:</h6>
                        <a class="collapse-item" href="/sit-admin/program/view/">View Programs</a>
                        <a class="collapse-item" href="/sit-admin/program/add/">Add Program</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Admmins Collapse Menu-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="../sit-admin/" data-toggle="collapse" data-target="#collapseAdmin"
                aria-expanded="true" aria-controls="collapseAdmin">
                    <i class="fa fa-landmark" aria-hidden="true"></i>
                    <span> ADMINS </span>
                </a>
                <!-- Menu -->
                <div id="collapseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Choose:</h6>
                        <a class="collapse-item" href="/sit-admin/sit-admin/list">View Admins</a>
                        <a class="collapse-item" href="/sit-admin/sit-admin/create">Add Admins</a>
                    </div>
                </div>
            </li>

{% endblock sidebar %}


{% block content %}
            <!-- Main Table -->
            <div class="container-fluid">
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <h6 class="m-1 font-weight-bold text-secondary">Edit details for {{ sid }} </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form method="post">
                                {% csrf_token %}
                                <body onload="loading()">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="course_batch">Course Batch</label>
                                                <input class="form-control" type="text"  id="course_batch" name="course_batch" placeholder="{{enrolled_course.course_batch}}" value="{{enrolled_course.course_batch}}"required readonly="readonly">
                                                <br><br>
                                            </div>
                                            
                                            <div class="col-4">
                                                <label>Course Title</label>
                                            
                                                <select class="form-control" name="course_title" id="course_title" value={{sid}}>
                                                    <option selected hidden >{{sid}}</option>
                                                    {% for value in option_course_id %}
                                                        <option value="{{value}}">{{value}}</option>
                                                    {% endfor %}
                                                </select>
                                                <br><br>
                                            </div>

                                            <div class="col-4">
                                                <label for="session_details">Session Details</label>
                                                <input class="form-control" type="text" id="session_details" name="session_details" placeholder="{{enrolled_course.session_details}}" value="{{enrolled_course.session_details}}" required>
                                                <br><br>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-3">
                                                <label for="start_date">Start Date</label>
                                                <input class="form-control" type="date" id="start_date" name="start_date" placeholder="{{enrolled_course.start_date | date:'Y-m-d'}}" value="{{enrolled_course.start_date | date:'Y-m-d'}}" onchange="updateDropdown()" required>
                                                <br><br>
                                            </div>

                                            <div class="col-3">
                                                <label for="end_date">End Date</label>
                                                <input class="form-control" type="date" id="end_date" name="end_date" placeholder="{{enrolled_course.end_date | date:'Y-m-d'}}" value="{{enrolled_course.end_date | date:'Y-m-d'}}" onchange="updateDropdown()" required>
                                                <br><br>
                                            </div>

                                            <div class="col-3">
                                                <label for="start_time">Start Time</label>
                                                <input class="form-control" type="time" id="start_time" name="start_time" placeholder="{{enrolled_course.start_time}}" value="{{enrolled_course.start_time}}" onchange="updateDropdown()" required>
                                                <br><br>
                                            </div>

                                            <div class="col-3">
                                                <label for="end_time">End Time</label>
                                                <input class="form-control" type="time" id="end_time" name="end_time" placeholder="{{enrolled_course.end_time}}" value="{{enrolled_course.end_time}}" onchange="updateDropdown()" required>
                                                <br><br>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="frequency">Frequency:</label>
                                                <select class="form-control" id="frequency" name= "frequency" onchange="updateDropdown()" required>
                                                    <option selected hidden >{{sf}}</option>
                                        
                                                    {% for value in lof%}
                                                    <option value="{{value}}">{{value}}</option>
                                                    {% endfor %}
                                                </select>
                                                <br><br>
                                            </div>

                                            <div class="col-4">
                                                <label>Course Mode: </label>
                                                <select class="form-control" name="course_mode">
                                                    <option selected hidden >{{scm}}</option>
                                                    {% for value in course_mode%}
                                                        <option value="{{value}}" >{{value}}</option>
                                                    {% endfor %}
                                            
                                                </select>
                                                <br><br>
                                            </div>

    
                                            <div class="col-4">
                                                <label>Instructor:</label>
                                    
                                                <select class="form-control" id="myDropdown" name="full_name"  required>
                                                    <!-- <option selected hidden >{{iid}}</option> -->
                                            
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        //this function fills the dropdown with instructor names
                                        function loading(){
                                            var professor = {{ full_name | safe}};
                                            updateDropdown(professor);              //calls the updateDropdown function
                                        }

                                        var dropdown = document.getElementById("myDropdown");
                                        
                                        function updateDropdown() {
                                            var myList = {{ schedules|safe}};       //accesses the "schedules" context
                                            var professor = {{ full_name | safe}};  //accesses the "full_name" context
                                            var startDate = new Date(document.getElementById("start_date").value);        //calendar start date
                                            var endDate = new Date(document.getElementById("end_date").value);            //calendar end date
                                            var startTime = document.getElementById("start_time").value;                //clock start time
                                            startTime = startTime.split(":").join("");  
                                            let sformNumberTime = parseInt(startTime);       //sformNumberTime==clock in int

                                        var endTime = document.getElementById("end_time").value;
                                        endTime = endTime.split(":").join("");
                                        let eformNumberTime = parseInt(endTime);       //eformNumberTime==clock in int

                                    
                                        for (var i = 0; i < myList.length; i++) {
                                            var person = myList[i];
                                            var fullname = person.fullname;
                                            var sd = person.session_date;
                                            var st = person.start_time.slice(0,5);
                                            st = st.split(":").join("");
                                            let schedule_s_Time = parseInt(st);          //schedule_s_Time
                                            var et = person.end_time.slice(0, 5);         //schedule_e_Time
                                            et = et.split(":").join("");
                                            let schedule_e_Time = parseInt(et);
                                            const ssdd = new Date(sd);    //start date in schedules (nth iteration))
                                            let elementToRemove = fullname;
                                            let index = professor.indexOf(elementToRemove);

                                            var freq = document.getElementById("frequency").value;

                                            if (freq !== "Weekly" ){
                                            //do this if frequency is daily or once
                                                if ((ssdd.getTime() >= startDate.getTime() && ssdd.getTime() <= endDate.getTime())  //sessiondate is within the calendar range
                                                ) {

                                                    if (schedule_s_Time >= sformNumberTime) {
                                                        if (schedule_s_Time < eformNumberTime){
                                                            if (index > -1) {
                                                                professor.splice(index, 1);
                                                            }
                                                        }
                                                    }
                                                            
                                                    if (schedule_s_Time < sformNumberTime &&  schedule_e_Time > eformNumberTime ) {
                                                        if (index > -1) {
                                                                professor.splice(index, 1);
                                                        }       
                                                    }
                                                        
                                                    if (schedule_s_Time < sformNumberTime &&  schedule_e_Time <= eformNumberTime && sformNumberTime < schedule_e_Time  ) {
                                                        if (index > -1) {
                                                                professor.splice(index, 1);
                                                        }       
                                                    }

                                                }

                                            }
                                            else if (freq == "Weekly") {//frequency is weekly
                                            var startDate = new Date(document.getElementById("start_date").value);        //calendar start date
                                            var endDate = new Date(document.getElementById("end_date").value);
                                                while (startDate <= endDate) {

                                                    if (startDate.getTime() === ssdd.getTime()){
                                                        if(startTime>=schedule_s_Time && startTime < schedule_e_Time && schedule_e_Time < endTime || // if context is 10am-2pm bawal sa time si 11am to 3pm
                                                        startTime>=schedule_s_Time && startTime < schedule_e_Time && endTime < schedule_e_Time && endTime > schedule_s_Time || // if context is 10am-2pm bawal sa time si 11am to 2pm
                                                        startTime <= schedule_s_Time && endTime > schedule_s_Time && endTime < schedule_e_Time && startTime < schedule_s_Time//// if context is 10am-2pm bawal sa time si 8am to 11am or si 10am to 11am
                                                        ){
                                                            // alert(elementToRemove);
                                                            if (index > -1) {
                                                                    professor.splice(index, 1)
                                                            }

                                                        }

                                                    }
                                                    startDate.setDate(startDate.getDate() + 7);
                                                }
                                            //closing ni else
                                            } 
                                        
                                        }
                                        call(professor); //passes the professor list as argument in the call function
                                    }

                                    function call(professor){
                                        //This function populates the dropdown and preselected the instructor being edited if available.
                                            dropdown.innerHTML = "";
                                            var defaultOption = document.createElement("option");
                                            defaultOption.value = "{{iid}}";  // Value for the default option
                                            defaultOption.text = "{{iid}}";

                                            for (var i = 0; i < professor.length; i++) {
                                            var option = document.createElement("option");
                                            option.text = professor[i];
                                            option.value = professor[i];
                                            dropdown.add(option);
                                        }

                                        if (professor.includes(defaultOption)) {
                                                defaultOption.selected = true;
                                            }

                                            defaultOption.hidden = true;
                                            dropdown.appendChild(defaultOption);




                                    }
                                    </script>
                                </body>


    
                                <br><br>
                                <div class="container">
                                    <!-- Submit Button -->
                                    <button  class="btn btn-primary btn-icon-split" type="submit" value="Submit" onclick="return validateDates() ">
                                        <span class="icon text-white-50">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="text">Submit</span>
                                    </button>
                                    <div id="error-message" style="color: red;"></div>
                                </div>
                            </form>


                            <script>

                                function validateDates() {
                                var errorMessage = document.getElementById('error-message');
                                var startDate = new Date(document.getElementById("start_date").value);
                                var endDate = new Date(document.getElementById("end_date").value);
                                var startTime = document.getElementById("start_time").value;
                                var endTime = document.getElementById("end_time").value;
                                var frequency = document.getElementById("frequency").value; 

                                if (startDate > endDate) {
                                    errorMessage.textContent = 'End date must be after start date.';
                                    return false;

                                    }

                                
                                else if (startDate < endDate) {
                                    if (frequency == "Once") {
                                    errorMessage.textContent = 'Startdate should be equal to endDate.';
                                    return false;
                                    }

                                    else{    
                                    errorMessage.textContent = ''; // Clear the error message
                                    return true;
                                    }

                                    
                                    }
                                else { //equal ang dates
                                    
                                    if (startTime > endTime) {
                                        errorMessage.textContent = 'End time must be after start time.';
                                        return false;
                                    }    
                                    if (frequency !== "Once" ) {
                                        errorMessage.textContent = 'Frequency should be Once since start date = end date';
                                        return false;
                                    }
                                    errorMessage.textContent = ''; // Clear the error message
                                    return true;

                                }
                                }    
                            </script>
                        </div>
                        
                    </div>
                </div>
            </div>
{% endblock content %}