
<h4>Student Name : {{user.first_name}} {{user.last_name}}</h4>
<!-- <h4>Batch: {{batch.course_batch}}</h4>
<h4>ID: {{act.id}}</h4> -->
<form method="POST">
    {%csrf_token%}
    <!-- <h3 name="act_id">Assignment ID: {{act.id}}</h3> -->
    <h3>Title: {{act.activity_title}}</h3>
    <h3>Attachment: <a href="{% url 'download_activity_attachment' batch.course_batch act.id %}" download>Download</a></h3>
    <h3>Description</h3>
    <textarea rows="5" readonly>{{act.activity_desc}}</textarea><br>
    <h3>Given Date: {{act.start_date}}</h3>
    <h3>Due Date: {{act.deadline}}</h3>  
    <h3>Items: {{act.max_score}}</h3>
    <!-- <h3>Activity Grading: {{act.grading_percentage}}</h3> -->
    <br>
    <br>
    <br>
    
    <h5>Comment here!</h5>
    <textarea rows="5" name="msg_area"></textarea><br>  
    <button type="submit">Send</button>
</form>

<table>
    <th>Author</th>
    <th>Message</th>
    <th>Timestamp</th>
    {% for items in cmt  %}
    <tr>
        <td>{{items.uid}}</td>
        <td>{{items.content}}</td>
        <td>{{items.timestamp}}</td>
        
        <!-- <td><a href='/sit-instructor/instructor/view_courses/{{batch.course_batch}}/assignments/comments/{{act.id}}/edit/{{items.pk}}'>Edit</a></td>
        <td><a href='/sit-instructor/instructor/view_courses/{{batch.course_batch}}/assignments/comments/{{act.id}}/delete/{{items.pk}}'>Delete</a></td> -->
    </tr>
    {% endfor %}
</table>