{% load static %}

<head>
<link rel="stylesheet" href="{% static 'student/assets/css/student.css'%}">
<style>
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
  }
  
  .logo img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .navbar-links {
    text-align: right;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: black;
    margin-left: 10px; /* Add spacing between links */
  }
</style>
</head>


<body>
    <div class="navbar">
    <div class="logo">
        <a href="{% url 'student_profile' %}">
      <img src="{% static 'img/logo-red.png' %}" alt="Logo" >
    </div>
    <div class="navbar-links">
      <a href="{% url 'view_courses' batch.course_batch %}">Back to Course Details</a>
    </div>
  </div>





   <!-- Page Header -->
   <header class="header" id="home">
    <div class="container">
        <div class="infos">
            <h6 class="subtitle">Hi,</h6>
            <h6 class="title">{{user.first_name}} </h6>
            <p>Ready to sumbit your assignment?</p>
        </div>              
        <div class="img-holder">
            <img src="{% static 'student/assets/imgs/man.svg' %}" alt="">
        </div>      
    </div>  
<form method="POST">
    {%csrf_token%}
    <!-- <h3 name="act_id">Assignment ID: {{act.id}}</h3> -->
    <h3>Title: {{act.activity_title}}</h3>
    <h3>Attachment: <a href="{% url 'student_download_activity_attachment' batch.course_batch act.id %}" download>Download</a></h3>
    <h3>Description</h3>
    <p>{{act.activity_desc}}</p><br>
    <h3>Given Date: {{act.start_date}}</h3>
    <h3>Due Date: {{act.deadline}}</h3>  
    <h3>Items: {{act.max_score}}</h3>
    <!-- <h3>Activity Grading: {{act.grading_percentage}}</h3> -->
    <br>
    <br>
    <br>    
    <h5>Comment here!</h5>
    <textarea rows="5" name="msg_area"></textarea><br>  
    <button type="submit">Send</button>
</form>


    
    

<table>
    <th>Author</th>
    <th>Message</th>
    <th>Timestamp</th>
    {% for items in cmt  %}
    <tr>
        <td>{{items.uid.first_name}} {{items.uid.last_name}}</td>
        <td>{{items.content}}</td>
        <td>{{items.timestamp}}</td>
        <td>{% if items.uid == request.user %}<a href='/sit-student/student_profile/view_courses/{{batch.course_batch}}/assignment/{{act.id}}/edit/{{items.pk}}'>Edit</a>{% endif %}</td>
        <td>{% if items.uid == request.user %}<a href='/sit-student/student_profile/view_courses/{{batch.course_batch}}/assignment/{{act.id}}/delete/{{items.pk}}'>Delete</a>{% endif %}</td>
    </tr>
    {% endfor %}
</table>

<form method="POST" enctype="multipart/form-data" action="{% url 'upload_activity_submission' batch.course_batch act.id %}">
    {% csrf_token %}
    <h3>Your Work: <a href="{% url 'download_activity_submission' batch.course_batch act.id %}" download>
        {% if current_submission_filename %} 
        {{current_submission_filename}} 
        {% else %}
        {% endif %}
    </a></h3>
    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }} {% endif %}">
            {% if message.tags == "error" %}
            {{ message }}
            {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if not submission_grade %}
    {{ submission_upload_form.as_p }}
    <button type="submit">Submit</button>
    {% endif %}
</form>

{% if submission_grade %}
<p>Submission Score: {{ submission_grade }}/{{act.max_score}}</p>
{% else %}
<p>Submission Score: Not graded yet/{{act.max_score}}</p>
{% endif %}

{% if not current_submission_filename %}
{% elif submission_on_time %}
<p>On time</p>
{% else %}
<p>Late</p>
{% endif %}


</body>
