{% load static %}

<!DOCTYPE html>
<html>
<body>
    <style>
        .fc-button {
            background-color: #a70000 !important;
        }
        
        .fc-event {
            background-color: #8dc0ff !important;
            border-color: #8dc0ff  !important;
            color: white !important;
        }
    </style>

    <script>
        const d = new Date(2023, 4, 24, 10, 33).toISOString().slice(0, 10);
    
        var sample_events = {{event_list|safe}};
    
        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar-1');
    
          var calendar = new FullCalendar.Calendar(calendarEl, {
            eventClick: function(info) {
              var eventObj = info.event;
    
              if (eventObj.url) {
                alert(
                  'Clicked ' + eventObj.title + '.\n' +
                  'Will open ' + eventObj.url + ' in a new tab'
                );
    
                window.open(eventObj.url);
    
                info.jsEvent.preventDefault();
              } else {
                Swal.fire({
                  title: eventObj.title,
                  html: `
                    <b>Description:</b> ${eventObj.extendedProps.full_desc}<br>
                    <b>Start Time:</b> ${eventObj.start.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })}<br>
                    <b>End Time:</b> ${eventObj.end.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })}<br>
                    <b>Instructor:</b> ${eventObj.extendedProps.fullname}
                  `,
                });
              }
            },
            events: sample_events,
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            },
            themeSystem: 'standard',
            initialView: 'dayGridMonth',
            eventTextColor: '#FFFFFF'
          });
    
          calendar.render();
        });
    
    </script>
</body>
</html>