{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Page</title>
      <!-- Favicon -->
      <link rel="icon" href="{% static 'img/logo-red.png'%}" type="image/x-icon" />
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'student/assets/vendors/themify-icons/css/themify-icons.css'%}">
    <!-- Bootstrap + Steller main styles -->
	<link rel="stylesheet" href="{% static 'student/assets/css/student.css'%}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="navbar-brand" href="{% url 'student_profile' %}"><img src="{% static 'img/logo-red.png' %}" width = 150, height=65, alt="77SIT Logo" height="35"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_profile' %}">Home</a>
                    </li>
                </ul>
            </div>
        </div>          
    </nav>
    <!-- End of page navibation -->


    
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
         
          <ol>
            <li><a href="/sit-admin/student_profile">Back</a></li>
            <li>Courses</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'student/assets/img/portfolio/portfolio-details-1.jpg'%}" alt="">
                  <a href="assignment.html" title="View Assignments"><i class="bx bx-link"></i></a>
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'student/assets/img/portfolio/portfolio-details-2.jpg'%}" alt="">
                  <a href="assignment.html" title="View Grades"><i class="bx bx-link"></i></a>
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'student/assets/img/portfolio/portfolio-details-3.jpg'%}" alt="">
                  <a href="assignment.html" title="View Announcements"><i class="bx bx-link"></i></a>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Course Information</h3>
              <ul>
                <li><strong>Course Name</strong>: Programming</li>
                <li><strong>Course Detail</strong>: Programming</li>
                <li><strong>Instructor</strong>: Estes the Healer</li>
                <li><strong>Schedule</strong>: <a href="#">see schedules</a></li>
              </ul>
            </div>
           
            
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Frontend Team</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'student/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'student/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'student/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'student/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'student/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'student/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'student/assets/vendor/typed.js/typed.min.js'%}"></script>
  <script src="{% static 'student/assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'student/assets/vendor/php-email-form/validate'%}.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'student/assets/js/main.js'%}"></script>

</body>

</html>